* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfe7ff;
  font-family: sans-serif;
}
.section {
  min-height: 100vh;
  padding-top: 100px;
  padding-inline: 20px;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
}
h1 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #33353b;
  text-align: center;
}
.accordion {
  max-width: 700px;
  margin: auto;
}

.accordion_item {
  border: 1px solid #33353b;
  padding: 20px;
  margin-block: 16px;
  border-radius: 20px;
}

.accordion_title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.accordion_title h3 {
  flex: 1;
  font-size: 24px;
}
.accordion_title i {
  font-size: 14px;
  padding: 12px;
  background-color: #bababa;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.accordion_content {
  display: none;
}
.accordion_title.active + .accordion_content {
  display: block;
}

.accordion_content p {
  color: #464850;
  font-weight: 500;
  line-height: 1.6;
}

.accordion_title.active i {
  transform: rotate(180deg);
}
